@charset "UTF-8";
@import "node_modules/bootstrap/scss/bootstrap";

$bg-color: yellow;
$font-color: black;

html {

  body {
    color: rgba( $font-color, 1 );
    background: rgba( $bg-color, 1 );
  }
}
